.admin-job-title a{
  color: #2196f3;
  cursor: default;
}

.admin-job-title a:visited{
  color: #2196f3;
}
.admin-job-details a{
  color:  #101010;
  cursor: alias;
}
.admin-job-details a:visited{
  color:  #101010;
}

.edit-delete button{
  color: red;
}
