#advert {
  /* grid-row: 2 / span 4; */
  /* background-color: black; */
  margin-top: 15px;
  width: 90%;
  height: 100%;
  border: 1px solid red;

}

#advert iframe {
  width: 100%;
  height: 100%;
  border: none;
  /*position: fixed;*/
}


/**/
#advert:before{
 content: "I dont think we should add advert here, what should we do here. We can go back to adding advert as well theres no problem";
}