footer {
  width: 100%;
  background-color: rgb(0,0,0,0.9);
  color: whitesmoke;
  font-family: 20px, "Courier New", Courier, monospace;
  font-weight: 5px;
}

footer img {
  padding: 0;
  margin: 0;
  height: 40px;
}

footer ul a:hover{
  border-radius: 5%;
  background-color: rgb(23,121,186,.1);
}
footer h2{
  color: #2196f3; 
  font-size: min(4vh,4vw);
  font-family: "Times New Roman", Times, serif;
  padding-top: 10px;
  font-weight: bolder;
}

footer ul a:hover{
  background-color: rgb(23,121,186,.1);
}
#newsletter_email_button {
  color: white;
  background-color: #2196f3;
}

#newsletter_email_button:hover {
  color: #0b7dda;
  background-color: black;
  border: 1px solid #0b7dda;
}

#gototop{
  display: none;
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #4caf50;
}

#gototop:hover {
  cursor: pointer;
}
