header {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 40px;
  overflow: visible;
  background-color: #333;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul li {
  float: left;
}

header li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: #111;
  cursor: default;
}

#li-logo a:hover{
  background-color: white;

}

#logout{
  color: #2196f3;
  border: 1px solid #fff;
}

/*@media only screen and (max-width: 400px) {
  header{
    overflow: hidden;
  }

}*/

@media only screen and (max-width: 1000px) {
  header .anchor-header{
    visibility: hidden;
  }
}