header img{
  margin: 0;
  padding: 0;
  width:: 35px;
  height: 35px;
}
.logo{
  position:absolute;
  top: 10px;
  left: 10px
}

.main-nav {
  background-color: black;
  color: whitesmoke !important;
}

.nav-left{
  background-color: black;
}

.nav-left ul{
  background-color: black;
}

.main-nav ul{
  border: none
}



/* search */
.search-main {
  margin: 5px;
  width: 90vw;
  height: 50px;
}

.search-input-group{
  position: absolute;
  width: 80%;
  margin: 0 9%;
}


@media screen and (max-width: 39.9375em) {
  .top-bar-right {
    display: none;
  }
}
