.job-title a,.job-detail a {
  text-decoration: none;
}

.job-title a{
  font-family: sans-serif;
  font-size: 20px;
  color: #2196f3;
}

.job-title a:visited{
  color: #2196f3;
}
.job-details a{
  font-family: serif;
  font-size: 16px;
  color:  #101010;
}
.job-details a:visited{
  color:  #101010;
}

.job-pdf{
  float: right;
  color: #2e1435;
}
