#pagination{
	width: 68.78%;
	height: 24px;
}

#pagination  a{
	text-decoration: none;
	font-size: 20px;
	font-family: Georgia, serif;
	font-weight: bolder;
	color: #2e1435;
}

#pagination  a:visited{
	color: #2e1435;
}

#pagination #page-prev{
	float: left;
}

#pagination #page-next{
	float: right;
}

/*------------------------------------------For development only-----------------------------------------------------*/
#pagination{
	border: 1px solid black;
}