#pagination{
	width: 68.78%;
	height: 28px;
}


#pagination  a{
	text-decoration: none;
	/*font-size: 20px;*/
	font-family: Georgia, serif;
	font-weight: bolder;
	color: #2196f3;
}

#pagination  a:visited{
	color: #4f5d95;
}

#pagination a:hover{
	color: #2e1435;
}

#pagination #page-prev{
	float: left;
}

#pagination #page-next{
	float: right;
}

.arrow{
	font-size: 35px;
}

.prev-next{
	font-size: 28px
}

/*------------------------------------------For development only-----------------------------------------------------*/
/*#pagination{
	border: 1px solid black;
}*/