html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  /* font-family: "Times New Roman", Times, serif; */
  overflow-x: hidden;
  background-color: #EEE5E5;
}

.prev-next{
  font-size: 1.25rem;
}
